@/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author:  Morgan and Jenna
   Date:   10-2-18
   
   Filename: lake_styles.css

*/
@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url('cac_champagne.woff') format('woff');
	src: url('cac champagne.ttf') format('truetype');
}
html {
	background-color: #994d00;
}

body {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}